<section data-ng-style="headerCtrl.changeZIndex ? { 'z-index':0} : {'z-index': 999}">
  <div>
  	<div id="my-name">
  		<h1>{{headerCtrl.header.name}}</h1>
  		<span class="blue">{{headerCtrl.header.role}}</span>
  	</div>
  	<nav data-nav-page-scroll></nav>
  </div>
</section>