/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/* ====================== MAIN CSS ====================== */
@font-face{ 
	font-family: 'Heavy';
	src: url('font/heavy-webfont.eot');
	src: url('font/heavy-webfont.eot?#iefix') format('embedded-opentype'),
	     url('font/heavy-webfont.woff') format('woff'),
	     url('font/heavy-webfont.ttf') format('truetype'),
	     url('font/heavy-webfont.svg#webheavy') format('svg');
	font-weight: normal;
   font-style: normal;
}
@font-face{ 
	font-family: 'Light';
	src: url('font/light-webfont.eot');
	src: url('font/light-webfont.eot?#iefix') format('embedded-opentype'),
	     url('font/light-webfont.woff') format('woff'),
	     url('font/light-webfont.ttf') format('truetype'),
	     url('font/light-webfont.svg#weblight') format('svg');
	font-weight: normal;
   font-style: normal;
}
@font-face{ 
	font-family: 'Thin';
	src: url('font/thin-webfont.eot');
	src: url('font/thin-webfont.eot?#iefix') format('embedded-opentype'),
	     url('font/thin-webfont.woff') format('woff'),
	     url('font/thin-webfont.ttf') format('truetype'),
	     url('font/thin-webfont.svg#webthin') format('svg');
	font-weight: normal;
   font-style: normal;
}
html {
	height: 100%;
	font-size: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: subpixel-antialiased;
}

body {
	background-color: #0d131a;
	color: #fff;
	height: 100%;
	font-family: 'Thin', Tahoma, sans-serif;
	margin: 0;
	padding: 0;
}
section {
	margin: 0 auto;
	display: block;
}
body > header {
	width: 100%;
	position: relative;
}
body > header section {
	width: 100%;
	position: fixed;
	z-index: 999;
	background-color: #0d131a;
}
body > header section > div {
	max-width: 960px;
	margin: auto;
	padding: 44px 3%;
	height: 32px;
	background-color: #0d131a;
}

#my-name {
	float: left;
	height: 32px;
}

#my-name h1 {
	font-size: 24px;
	line-height: 0.75em;
}

.blue {
	color: #009edb;
}
.blue-bg {
	background-color: #009edb;
}
.black {
color: #0c0017;
}
.black-bg {
	background-color: #0c0017;
}
.dark-blue {
	color: #004c6e;
}
.dark-bg {
	background-color: #004c6e;
}
.white {
	color: #fff;
}
.white-bg {
	background-color: #fff;
}
.new-line {
	white-space: nowrap;
}

#my-name span {
	font-size: 12.5px;
	vertical-align: top;
 	line-height: 1.2em;
}

nav {
	position: relative;
	float: right;
	width: 370px;
	height: 32px;
}
nav ul {
	position: relative;
	text-align: justify;
	list-style: none outside none;
}
/* to justify li in ul need to add that pseudo element */
nav ul:after {
  content: "";
  width: 100%;
  display: inline-block;
}
nav ul li {
  display:inline;
}
/* 3d animation */
nav ul li a{
  color: #fff;
  text-decoration: none;
  display: inline-block;
  -webkit-perspective: 1000px;
  				perspective: 1000px;
} 
nav ul li a span{
	color: #fff;
  text-decoration: none;
  display: inline-block;
  background-color: #0d131a;
  padding: 8px 12px;
  font-size: 12.5px;
  vertical-align: top;
	-webkit-transform-origin: 50% 0;
			-ms-transform-origin: 50% 0;
	    		transform-origin: 50% 0;
	-webkit-transform-style: preserve-3d;
					transform-style: preserve-3d;
	-webkit-transition: -webkit-transform 0.3s;
					transition: transform 0.3s;
}

nav ul li a:hover span:not(.active) {
	-webkit-transform: rotateX(90deg) translateY(-16px);
					transform: rotateX(90deg) translateY(-16px);
}

nav ul li a:hover span:not(.active):before{
	background: #009edb;	
}

nav ul li a span::before{
	position: absolute;
  top: 100%;
  left: 0;
  content: attr(data-hover);
  padding: 8px 12px;
  	background-color: #0d131a;
  -webkit-transition: background 0.3s;
					transition: background 0.3s;
	 -webkit-transform: rotateX(-90deg);
					 transform: rotateX(-90deg);
	-webkit-transform-origin: 50% 0;
			-ms-transform-origin: 50% 0;
	    		transform-origin: 50% 0;
}
nav ul li a span.active::before{
 	 background-color: #009edb;
}
.active { 
	-webkit-transform: rotateX(90deg) translateY(-16px);
					transform: rotateX(90deg) translateY(-16px);
}
/* ============== ABOUT SECTION ============== */
#about {
	height: 120px;
}
#about-content, #projects, #archive, #contact {
	width: 100%;
}
#about-content div, #contact > div{
	max-width: 640px;
	text-align: justify;
	margin: 0 auto;
	padding: 80px 3%;
	font-size: 20px;
}
#about-content div {
	max-width: 960px;
}
section > h1 {
	line-height: 0.63em;
	padding: 0 3%;
	max-width: 960px;
	display: block;
	margin: 0 auto;
	font-size: 4em;
	font-family: 'Light', Tahoma, sans-serif;
	font-style: italic;
}

#projects > div, #archive > div {
	padding: 80px 0;
}
#projects ul, #archive ul {
	width: 100%;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: -webkit-box;
	display: flex;
	-webkit-flex-wrap: wrap;
	    -ms-flex-wrap: wrap;
	        flex-wrap: wrap;
	-webkit-box-pack: center;
		 -ms-flex-pack: center;
	-webkit-justify-content: center;
	        justify-content: center;
	list-style: none outside none;
}
#projects li {
	-webkit-box-flex: 1;
	-webkit-flex-grow: 1;
	-ms-flex-positive: 1;
	        flex-grow: 1;
	padding: 0;
	margin: 0;
	min-width: 300px;
	max-width: 640px;
	height: 320px;
	-webkit-perspective: 1000px;
					perspective: 1000px;
}
 
#archive li {
	padding: 0;
	margin: 0;
	width: 80px;
	height: 80px;
	-webkit-perspective: 1000px;
					perspective: 1000px;
}
project-thumb > div{
	position: relative;
	-webkit-transform-style: preserve-3d;
					transform-style: preserve-3d;
}
img {
	max-height: 100%;
	width: auto;
}
/* ================== PROJECT 3D ITEM ================== */
 
.project-thumb-front, .project-thumb-back, .archive-thumb-front, .archive-thumb-back {
	padding: 0;
	margin: 0;
	color: white;
	cursor: pointer;
	-webkit-backface-visibility: hidden;
	        backface-visibility: hidden;
}
.project-thumb-front, .project-thumb-back {
	min-width: 300px;
	max-width: 640px;
	height: 320px;
}

.project-thumb-back, .archive-thumb-back {
	z-index: 1;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	color: white;
	-webkit-transform: rotateY(-180deg);
	        transform: rotateY(-180deg);
}
.archive-thumb-front, .archive-thumb-back {
	width: 80px;
	height: 80px;
}
.archive-thumb-front {
	z-index: 2;
}
.no-scroll {
  overflow: hidden;
}
.project-view-pre-transition {
  z-index: 1;
 	position: fixed;
	visibility: visible;
	-webkit-transition: all 0.3s ease-in-out;
	        transition: all 0.3s ease-in-out;
}
.transition-time {
	-webkit-transition: all 0.3s ease-in-out;
	        transition: all 0.3s ease-in-out;
}
.project-view-hide-content {
	opacity: 0;
}
.project-view-show-content {
	opacity: 1;
}
 
.project-view-transitioned-in {
	position: fixed;
	width: 100%;
	height: 100%;
	-webkit-transform: none;
	    -ms-transform: none;
	        transform: none;
	-webkit-transition: none;
	        transition: none;
	visibility: visible;
	z-index: 1;
	left: 0;
	top: 0;
	overflow-x:hidden;
	overflow-y:auto;
}
/* ================== PROJECT DETAILS PAGE ================== */
#project-view{

}
#project-view.start {
 	z-index: 1;
 	position: fixed;
 	visibility: hidden;
}
#project-view header {
	position: relative;
	width: 100%;
	height: 11.2vh;
	margin-bottom: 2.981vh;
}
#project-view header > div{
	padding: 0;
	margin: 0 0 0 auto;
	position: relative;
	top:0;
	right: 0;
	z-index: 1;
	width: 100px;
	height: 100px;
	-webkit-perspective: 1000px;
	        perspective: 1000px;
  -webkit-perspective-origin: 50% 50%;
  	      perspective-origin: 50% 50%;
}
#project-view article > div{
	position: relative;
	max-width: 960px;
	width: 95%;
	margin: 0 auto 4.489vh auto;
}
#project-view article > div > p:first-child{
	font-family: 'Light';
	font-weight: bold;
}
#project-view article > div > p:nth-child(2){
	font-family: 'Light';
	color: #009edb;
	padding-bottom: 2vh;
}
#project-view article a {
	text-decoration: none;
	color: #009edb;
}
#project-view article a:hover {
	text-decoration: none;
	color: black;
}

/* ================== PHOTOS CUBE ================== */
#gallery {
	position: relative;
	-webkit-perspective: 1000px;
	        perspective: 1000px;
  display: block;
}
#gallery > div {
	width: 100%;
  height: 43.928vh;
 	-webkit-transform-style: preserve-3d;
					transform-style: preserve-3d;
}
#gallery > div div {
	position: absolute;
	top: 0; 
	bottom: 0;
	width: 100%;
	-webkit-backface-visibility: hidden;
  				backface-visibility: hidden;
}
#gallery > div div img {
	position: absolute;
	margin: auto;
	top:0;
	right:0;
	bottom:0;
	left:0;
}
.img-project{
	max-height: 43.928vh; 
	max-width: 100vw;
}
.img-archive{

	max-width: 100vw;
}

gallery-controls {
	text-align: center;
	display: block;
	margin-top: 1px;
	/*margin-top: 3.367vh;*/
 }
gallery-controls ul{
	display: inline-block;
}
gallery-controls ul li {
	display: inline;
}
gallery-controls input{
	display: none;
}
gallery-controls label {
	display: inline-block;
	cursor: pointer;
	border: none;
	width: 13vw;
	height: 13vw;
	max-width: 50px;
	max-height: 50px;
	margin-left: 1px;
	padding: 0;
	/*border-radius: 50px;
	margin-left: 30px;*/
	position: relative;
	background-color: #0c0017;
}
gallery-controls ul li:first-child label {
	margin-left: 0px;
}
gallery-controls input:checked + label {
	background-color: #009edb;
}
/* ================== CLOSE BUTTON ================== */
#close-bt {
	display: block;
	position: relative;
  background-color: black;
  cursor: pointer;
  width: 100px;
  height: 11.2vh;
  padding: 0;
  -webkit-transform-style: preserve-3d;
					transform-style: preserve-3d;
	-webkit-transition: all 0.3s ease-in-out;
					transition: all 0.3s ease-in-out;
	-webkit-transform-origin: 50% 50%;
	    -ms-transform-origin: 50% 50%;
	        transform-origin: 50% 50%;
	-webkit-transform: translateZ(0) scale(1.0, 1.0);
	        transform: translateZ(0) scale(1.0, 1.0);
}
#close-bt span{
	position: absolute;
	content: '';
	display: block;
	height: 11.2vh;
	width: 100%;
	top: 100%;
	background-color: #0c0017;
	-webkit-transform: rotateX(-90deg) translateZ(0) scale(1.0, 1.0);
	        transform: rotateX(-90deg) translateZ(0) scale(1.0, 1.0);
	-webkit-transform-origin: 50% 0%;
	    -ms-transform-origin: 50% 0%;
	        transform-origin: 50% 0%;
   -webkit-transform-style: preserve-3d;
					 transform-style: preserve-3d;
				-webkit-transition: all 0.3s ease-in-out;
								transition: all 0.3s ease-in-out;
}
#close-bt:hover span{
	background-color: #009edb;
}
#close-bt:hover {
	-webkit-transform: rotateX(90deg) translateZ(5.7vh) translateY(-5.7vw);
	        transform: rotateX(90deg) translateZ(5.7vh) translateY(-5.7vw);
}
#close-bt::before, #close-bt span::before {
    content: '';
    height: 2.24vh;
    min-height: 10px;
    display: block;
    border-left: 1px solid white;
    -webkit-transform: skew(45deg);
        -ms-transform: skew(45deg);
            transform: skew(45deg) ;
    position: absolute;
    top: 0;
    left: 50px;
    margin: auto;
    bottom: 0;
    -webkit-transition: all 0.2s 0.1s ease-in-out;
            transition: all 0.2s 0.1s ease-in-out;
} 
/* to remove artifacts on hover state */
#close-bt::before {
	-webkit-transform: skew(45deg) translateZ(0) scale(1.0, 1.0);
			-ms-transform: skew(45deg) translateZ(0) scale(1.0, 1.0);
          transform: skew(45deg) translateZ(0) scale(1.0, 1.0);
}
#close-bt::after, #close-bt span::after {
    position: absolute;
    top: 0;
    content: '';
    height: 2.24vh;
    min-height: 10px;
    display: block;
    border-left: 1px solid white;
    -webkit-transform: skew(-45deg);
        -ms-transform: skew(-45deg);
            transform: skew(-45deg);
    left: 50px;
    top: 0;
    margin: auto;
    bottom: 0;
    -webkit-transition: all 0.2s ease-in-out;
            transition: all 0.2s ease-in-out;
}
/* to remove artifacts on hover state */
 #close-bt::after {
	-webkit-transform: skew(-45deg) translateZ(0) scale(1.0, 1.0);
			-ms-transform: skew(-45deg) translateZ(0) scale(1.0, 1.0);
          transform: skew(-45deg) translateZ(0) scale(1.0, 1.0);
}
/* ================== CONTACT ================== */
#contact > div {
	padding-top: 40px;
}

form > div:not(#send-button) {
	-webkit-perspective: 1000px;
	        perspective: 1000px;
	-webkit-perspective-origin: 10% 0;
	        perspective-origin: 10% 0;
	position: relative;
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	font-family: 'Light';
	padding-top: 40px;
	border-bottom: 1px solid #004c6e;
	-webkit-transition: border-bottom 0.3s;
	        transition: border-bottom 0.3s;
	
}
input, textarea {
	border: none;
	outline: none;
	width: 100%;
	height: 30px;
	bottom: 0;
	font-family: 'Thin';
	font-size: 20px;
	color: #009edb;
}
/* override autofill style */
input:-webkit-autofill, textarea:-webkit-autofill, select:-webkit-autofill{
	-webkit-box-shadow:0 0 0 16px #0c0017 inset; /* Change the color to your own background color */
  -webkit-text-fill-color: #009edb;
}

textarea {
    overflow: hidden;
    resize: none;
}
#send-button {
	position: relative;
	border: none;
	margin-top: 40px;
	padding: 0;
	-webkit-perspective: 1000px;
	        perspective: 1000px;
}
#send-button div {
	-webkit-transform-style: preserve-3d;
					transform-style: preserve-3d;
	-webkit-transition: -webkit-transform 0.3s;
 	        transition: transform 0.3s;
	-webkit-transform-origin: 0% 0%;
	    -ms-transform-origin: 0% 0%;
	        transform-origin: 0% 0%;
}

#send-button div::before {
	position: absolute;
	left: 0;
	top: 0;
	text-align: center;
	line-height: 60px;
	width: 100%;
	height: 60px;
	content: attr(data-hover);
	color: #009edb;
	background-color: #0c0017;
}

#send-button div.submit-disabled::before {
	background-color: #0c0017;
	color: #004c6e;
}
		
#send-button input {
	cursor: pointer;
	height: 60px;
	left: 0;
	top: 60px;
	position: absolute;
	background-color: #0c0017;
	-webkit-transition: all 0.3s;
					transition: all 0.3s;
	-webkit-transform: rotateX(-90deg);
					transform: rotateX(-90deg);
	-webkit-transform-origin: 0% 0%;
			-ms-transform-origin: 0% 0%;
					transform-origin: 0% 0%;
}
/* will add hover only when element doesn't contain nohover class*/
#send-button div:not(.nohover):hover input {
	background-color: white;
}
#send-button div:not(.nohover):hover{
	-webkit-transform:rotateX(90deg) translateY(-60px);
	        transform:rotateX(90deg) translateY(-60px);
}

form div:not(#send-button):hover label{
	-webkit-transform:rotateX(90deg) translateY(-35px);
	        transform:rotateX(90deg) translateY(-35px);
}
form div:not(#send-button):hover {
	border-bottom: 1px solid white;
}
form div:not(#send-button):hover label::after{
	background-color: white;
	color: #004c6e;
}
label::after{
	position: absolute;
	top:100%;
 	left:0;
 	padding: 4px 10px;
	content: attr(data-hover);
	-webkit-transform-style: preserve-3d;
	transform-style: preserve-3d;
  	color: #009edb;
	background-color: #009edb;
	-webkit-transform: rotateX(-90deg);
	        transform: rotateX(-90deg);
	-webkit-transform-origin: 100% 0%;
	    -ms-transform-origin: 100% 0%;
	        transform-origin: 100% 0%;
 	-webkit-transition: all 0.3s;
 	        transition: all 0.3s;
}
label {
 	bottom: 0;
 	padding: 4px 40px 4px 0;
	background-color: #0c0017;
 	-webkit-transition: -webkit-transform 0.3s, background 0.3s;
 	        transition: transform 0.3s, background 0.3s;
	-webkit-transform-style: preserve-3d;
					transform-style: preserve-3d;
	-webkit-transform-origin: 100% 0%;
	    -ms-transform-origin: 100% 0%;
	        transform-origin: 100% 0%;
}
.error-contact-form{
	font-size: 0.9em;
 	color: #fff;
}

/* ================== media queries ================= */
@media screen and (max-height: 700px) {
	#project-view article > div {

	}
}
@media screen and (max-height: 700px) and (max-width: 500px) {
	#project-view article > div {
		font-size: 2.8vh;
	}
}
@media screen and (max-width: 650px) {
	#my-name {
		float: none;
	}

	body > header section{
		height: 120px;
	}
	body >  header section > div {
		padding: 3% 3%;
	}

	nav {
		float: left;
		padding-top: 20px;
	}
	
	nav ul li a span {
		padding-left: 3%;
	}
}

@media screen and (max-width: 400px) {
 	#my-name {
 		padding-left: 3%;
 		height: 31px;
 	}
	body >  header section > div {
		padding: 3% 0%;
	}

	body > header section{
		height: 202px;
	}
	#about {
		height: 202px;
	}
	nav {
		float: none;
		display: inline-block;
		padding-top: 10px;
		width: 100%;
		height: auto;
	}

	nav ul li {
		display: block;
	}
	
	nav ul li a {
		-webkit-perspective: none;
						perspective: none;
		width: 100%;
					 
	}
	nav ul li a span {
		font-size: inherit;
		display: block;
	}
	nav ul li a span::before{
		width: 93%;
	}
}
@media only screen and (max-device-width: 375px), only screen and (device-width: 768px) and (device-height: 1024px) and (-webkit-min-device-pixel-ratio: 1) {
	/* reset send button style for mobiles*/

	#send-button {
		position: static;
		border: 0;
		margin-top: 0;
		padding: 0;
		-webkit-perspective: none;
						perspective: none;
	}
	#send-button div {
		-webkit-transform-style: flat;
						transform-style: flat;
		-webkit-transition: none;
						transition: none;
		-webkit-transform-origin: 50% 50% 0;
				-ms-transform-origin: 50% 50% 0;
						transform-origin: 50% 50% 0;
	}
	#send-button div::before {
		display: none;
		left: auto;
		top: auto;
		text-align: center;
		line-height: 0;
		width: auto;
		height: auto;
		content: '';
		color: inherit;
		background-color: transparent;
	}
	#send-button div.submit-disabled::before {
		background-color: transparent;
		color: inherit;
	}
	#send-button input {
		-webkit-appearance: none;
		cursor: pointer;
		height: 60px;
		left: 0;
		top: 60px;
		position: static;
		background-color: #0c0017;
		-webkit-transition: none;
						transition: none;
		 -webkit-transform: none;
			 			 transform: none;
		-webkit-transform-origin: 50% 50% 0;
				-ms-transform-origin: 50% 50% 0;
						transform-origin: 50% 50% 0;
	}
 
	#send-button div:not(.nohover):hover{
		-webkit-transform: none;
		        transform: none;
	}
}
/* ============== LOADER ============ */
#loader{
	display: block;
	position: fixed;
	width: 100%;
	height: 100%;
	z-index: 1000;
}
#loader > div:last-child{
 	height: inherit;
	width: inherit;
	opacity: 0.8;
	-webkit-opacity: 0.8;
  -moz-opacity: 0.8;
}
 
#loader.fade-in {
	opacity:0;  /* make things invisible upon start */
	-webkit-animation:fadeIn ease-in-out 1;  /* call our keyframe named fadeIn, use animattion ease-in and repeat it only 1 time */
	-moz-animation:fadeIn ease-in-out 1;
	animation:fadeIn ease-in-out 1;
 
	-webkit-animation-fill-mode:forwards;  /* this makes sure that after animation is done we remain at the last keyframe value (opacity: 1)*/
	-moz-animation-fill-mode:forwards;
	animation-fill-mode:forwards;
 
	-webkit-animation-duration:0.3s;
	-moz-animation-duration:0.3s;
	animation-duration:0.3s;
}
@-webkit-keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
@-moz-keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
@keyframes fadeIn { from { opacity:0; } to { opacity:1; } }

.cssload-loader {
	width: 24px;
	height: 24px;
	position: absolute;
	left: 50%;
	top: 50%;
	z-index: 1;
	transform: translate3d(-50%, -50%, 0);
		-o-transform: translate3d(-50%, -50%, 0);
		-ms-transform: translate3d(-50%, -50%, 0);
		-webkit-transform: translate3d(-50%, -50%, 0);
		-moz-transform: translate3d(-50%, -50%, 0);
	perspective: 1200;
		-o-perspective: 1200;
		-ms-perspective: 1200;
		-webkit-perspective: 1200;
		-moz-perspective: 1200;
}

.cssload-flipper {
	position: relative;
	display: block;
	height: inherit;
	width: inherit;
	animation: cssload-flip 1.38s infinite ease-in-out;
		-o-animation: cssload-flip 1.38s infinite ease-in-out;
		-ms-animation: cssload-flip 1.38s infinite ease-in-out;
		-webkit-animation: cssload-flip 1.38s infinite ease-in-out;
		-moz-animation: cssload-flip 1.38s infinite ease-in-out;
	transform-style: preserve-3d;
		-o-transform-style: preserve-3d;
		-ms-transform-style: preserve-3d;
		-webkit-transform-style: preserve-3d;
		-moz-transform-style: preserve-3d;
}

.cssload-front,
.cssload-back {
	position: absolute;
	top: 0;
	left: 0;
	display: block;
	height: 100%;
	width: 100%;
	backface-visibility: hidden;
}

.cssload-back {
	z-index: 800;
	transform: rotateY(-180deg);
		-o-transform: rotateY(-180deg);
		-ms-transform: rotateY(-180deg);
		-webkit-transform: rotateY(-180deg);
		-moz-transform: rotateY(-180deg);
}



@keyframes cssload-flip {
	0% {
		transform: perspective(117px) rotateX(0deg) rotateY(0deg);
	}
	50% {
		transform: perspective(117px) rotateX(-180.1deg) rotateY(0deg);
	}
	100% {
		transform: perspective(117px) rotateX(-180deg) rotateY(-179.9deg);
	}
}

@-o-keyframes cssload-flip {
	0% {
		-o-transform: perspective(117px) rotateX(0deg) rotateY(0deg);
	}
	50% {
		-o-transform: perspective(117px) rotateX(-180.1deg) rotateY(0deg);
	}
	100% {
		-o-transform: perspective(117px) rotateX(-180deg) rotateY(-179.9deg);
	}
}

@-ms-keyframes cssload-flip {
	0% {
		-ms-transform: perspective(117px) rotateX(0deg) rotateY(0deg);
	}
	50% {
		-ms-transform: perspective(117px) rotateX(-180.1deg) rotateY(0deg);
	}
	100% {
		-ms-transform: perspective(117px) rotateX(-180deg) rotateY(-179.9deg);
	}
}

@-webkit-keyframes cssload-flip {
	0% {
		-webkit-transform: perspective(117px) rotateX(0deg) rotateY(0deg);
	}
	50% {
		-webkit-transform: perspective(117px) rotateX(-180.1deg) rotateY(0deg);
	}
	100% {
		-webkit-transform: perspective(117px) rotateX(-180deg) rotateY(-179.9deg);
	}
}

@-moz-keyframes cssload-flip {
	0% {
		-moz-transform: perspective(117px) rotateX(0deg) rotateY(0deg);
	}
	50% {
		-moz-transform: perspective(117px) rotateX(-180.1deg) rotateY(0deg);
	}
	100% {
		-moz-transform: perspective(117px) rotateX(-180deg) rotateY(-179.9deg);
	}
}