<section id="contact" class="black-bg">
  <h1 class="dark-blue">{{contactCtrl.title}}</h1>
  <div>
    <div data-ng-show="success">{{contactCtrl.messageSent}}</div>
    <p class="error-contact-form" data-ng-style="{'visibility': contactForm.$invalid ? 'visible' :'hidden' }">
    {{contactCtrl.allfFieldsAreRequired}}</p>
    <form id="contact-form" name="contactForm" contact-form novalidate data-ng-hide="success">
      <div>
        <label for="contact-name-input" class="dark-blue" data-hover="{{contactCtrl.name}}">{{contactCtrl.name}}</label>
        <input id="contact-name-input" class="black-bg" type="text" name="name" maxlength="30" ng-model="input.name" ng-minlength="2" required/>
      </div>
      <p data-ng-show="contactForm.name.$touched && contactForm.name.$invalid && !contactForm.name.$pristine" class="error-contact-form">{{contactCtrl.nameTooShort}}</p>

      <div>
        <label for="contact-email-input" class="dark-blue" data-hover="{{contactCtrl.email}}">{{contactCtrl.email}}</label>
        <input id="contact-email-input" class="black-bg" type="email" name="email" maxlength="50" ng-model="input.email" required/>
      </div>
      <p data-ng-show="contactForm.email.$touched && contactForm.email.$invalid && !contactForm.email.$pristine" class="error-contact-form">{{contactCtrl.validEmail}}</p>

      <div>
        <label for="contact-message-textarea" class="dark-blue" data-hover="{{contactCtrl.message}}">{{contactCtrl.message}}</label>
        <textarea id="contact-message-textarea" class="black-bg" name="message" required ng-model="input.message" ng-minlength="3" rows="1"></textarea>
      </div>
      <p data-ng-show="contactForm.message.$touched && contactForm.message.$invalid && !contactForm.message.$pristine" class="error-contact-form">{{contactCtrl.msgToShort}}</p>
      <p data-ng-show="error">{{contactCtrl.error}}</p>
      <div id="send-button">
       <div data-ng-class="contactForm.$invalid ? 'submit-disabled nohover' : ''" data-hover="{{contactCtrl.send}}"> 
          <input data-ng-disabled="contactForm.$invalid" type="submit" value="{{contactCtrl.send}}" />
        </div> 
      </div>
    </form>
  </div>
</section>