<section id="project-view" class="start dark-bg" project-detail-view>
  <div>
   <header>
      <div>
        <div id="close-bt"><span></span></div>
      </div>
    </header>
    <article>
      <div>
        <p data-ng-bind-html="projectDetailCtrl.projectDetail.title"></p>
        <p data-ng-bind-html="projectDetailCtrl.projectDetail.client"></p>
        <p data-ng-bind-html="projectDetailCtrl.projectDetail.descr"></p>
        <p><a href="{{projectDetailCtrl.projectDetail.link}}" target="_blank"> {{projectDetailCtrl.projectDetail.link}}</a></p>
      </div>
      <project-gallery></project-gallery>
    </article>
  </div>
</section>